---
import Base from '../layouts/Base.astro';
import WorkImage from '../components/WorkImage.astro';
import WorkVimeo from '../components/WorkVimeo.astro';
import Nav from '../components/Nav.astro';
---

<Base title="Page Title" description="Page Description">
  <Nav />
  <div class="text-sm antialiased mt-10 max-w-4xl text-center mx-auto py-20">
    To work together, <a href="mailto:diegosegura@hey.com" class="border-b border-neutral-300 hover:border-black transition duration-300">email</a> or <a href="https://calendly.com/segura-diego" class="border-b border-neutral-300 hover:border-black transition duration-300">book time</a>.
  </div>
  <div class="max-w-4xl mx-auto px-4 antialiased flex flex-col md:grid md:grid-cols-2 md:gap-x-2 gap-y-6 mb-40">
    <WorkVimeo client="Medium" description="Brand identity, website" vimeoOptions="col-span-1 md:col-span-2" vimeoLink="467093186" />
    <WorkImage client="Medium" description="Logo and wordmark" imageOptions="col-span-1" path="COLLINS_MEDIUM_00.gif" />
    <WorkImage client="Medium" description="Brand identity" imageOptions="col-span-1" path="medium-10.jpg" />
    <WorkVimeo client="Medium" description="Wordmark" vimeoOptions="col-span-2" vimeoLink="467367059" />
    <div class="col-span-2">
      <div class="flex flex-row gap-2">
        <div class="text-sm font-medium ">
          Terms
        </div>
        <div class="text-sm mb-3 opacity-40">
          Product, identity, development
        </div>
      </div>
      <div class="rounded-md overflow-hidden">
        <video width="2015" height="1440" autoplay loop muted>
          <source src="terms-hover-2.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <WorkImage client="Warner Music Group" description="Aretha Franklin poster" imageOptions="col-span-1" path="wmg-2.png" />
    <WorkImage client="Bonside" description="Logo, brand identity, and writing" imageOptions="col-span-1" path="_bonside3.png" />
    <WorkVimeo client="Match" description="Minisite" vimeoOptions="col-span-2" vimeoLink="692342072" />
    <WorkImage client="Lorescan" description="Brand identity and product" imageOptions="col-span-1" path="_lore10.png" />
    <WorkImage client="Vellum" description="Logo" imageOptions="col-span-1" path="_vellum3.png" />
    <WorkImage client="The Optimism Company" description="Brand identity" imageOptions="col-span-1 md:col-span-2" path="_optimism1.png" />
    <WorkImage client="The Optimism Company" description="Brand identity" imageOptions="col-span-1" path="_optimism8.png" />
    <WorkImage client="The Optimism Company" description="Brand identity" imageOptions="col-span-1" path="_optimism2.png" />
    <WorkImage client="Waybridge" description="Logo and brand identity" imageOptions="col-span-1" path="waybridge-1.jpg" />
    <WorkImage client="Waybridge" description="Logo and brand identity" imageOptions="col-span-1" path="waybridge-2.gif" />
    <WorkImage client="Scope3" description="Brand identity" imageOptions="col-span-1 md:col-span-2" path="_scope3-5.png" />
    <WorkImage client="Scope3" description="Brand identity" imageOptions="col-span-1" path="_scope3-4.png" />
    <WorkImage client="Scope3" description="Brand identity" imageOptions="col-span-1" path="_scope3-1.png" />
  </div>
</Base>
