---
import Base from '../layouts/Base.astro';
import WorkImage from '../components/WorkImage.astro';
import WorkVimeo from '../components/WorkVimeo.astro';
import WorkListing from '../components/WorkListing.astro';
import Nav from '../components/Nav.astro';
---

<Base options="">
  <Nav />
  <div class="text-sm antialiased mt-10 max-w-4xl text-center mx-auto pt-20">
    To work together, <a href="mailto:diegosegura@hey.com" class="border-b border-neutral-300 hover:border-black transition duration-300">email</a> or <a href="https://calendly.com/segura-diego" class="border-b border-neutral-300 hover:border-black transition duration-300">book time</a>.
  </div>
  <div class="max-w-5xl mx-auto px-4 antialiased flex flex-col md:grid md:grid-cols-2 md:gap-x-2 gap-y-2 mb-40">
    <WorkListing name="Medium" description="Logo and brand identity for the world-renowned publishing platform.">
    </WorkListing>
    <WorkVimeo client="Medium" description="Brand identity, website" vimeoOptions="col-span-1 md:col-span-2" vimeoLink="467093186" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="COLLINS_MEDIUM_00.gif" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="medium-10.jpg" />
    <WorkVimeo client="Medium" description="Wordmark" vimeoOptions="col-span-2" vimeoLink="467367059" />

    <WorkListing name="Agnostic" description="Logo, identity, and website for a breakthrough blockchain indexer." typography="max-w-[48ch]">
    </WorkListing>
    <img class="col-span-2 rounded-md lg:rounded-xl" src="work/agnostic-1.jpg" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/agnostic-2.jpg" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/agnostic-3.jpg" />
    <img class="col-span-2 rounded-md lg:rounded-xl" src="work/agnostic-4.jpg" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/agnostic-5.jpg" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/agnostic-6.png" />
    <img class="col-span-2 rounded-md lg:rounded-xl" src="work/agnostic-7.jpg" />

    <WorkListing name="Lockchain" description="Logo, identity, product, website, and development for a one-of-a-kind risk management platform for digital assets." typography="max-w-[48ch]">
    </WorkListing>
    <img class="col-span-2 rounded-md lg:rounded-xl border border-neutral-200" src="work/lockchain-1.png" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/lockchain-2.jpg" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/lockchain-3.png" />

    <WorkListing name="Bonside" description="Logo, identity, and product for Bonside, flexible financing for brick & mortar." typography="max-w-[36ch]">
    </WorkListing>
    <img class="col-span-2 rounded-md lg:rounded-xl border border-neutral-200" src="work/bonside-1.png" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/bonside-2.jpg" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/bonside-3.png" />

    <WorkListing name="Lore" description="Product and brand design for Lore, a plain-language, utilitarian block explorer." typography="max-w-[36ch]">
    </WorkListing>
    <img class="col-span-2 rounded-md lg:rounded-xl border border-neutral-200" src="work/lore-1.png" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/lore-2.png" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/lore-3.png" />
    <img class="col-span-2 rounded-md lg:rounded-xl border border-neutral-200" src="work/lore-4.png" />

    <WorkListing name="The Optimism Company" description="Brand identity and logo design for Simon Sinek's media company.">
    </WorkListing>
    <img class="col-span-2 rounded-md lg:rounded-xl" src="work/optimism-1.png" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/optimism-2.png" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/optimism-3.png" />
    <img class="col-span-2 rounded-md lg:rounded-xl" src="work/optimism-4.png" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/optimism-5.png" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/optimism-6.png" />

    <WorkListing name="Scope3" description="Brand identity, logo, and product design for an ad tech sustainability platform.">
    </WorkListing>
    <img class="col-span-2 rounded-md lg:rounded-xl border border-neutral-200" src="work/scope3-1.png" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/scope3-2.png" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/scope3-3.png" />

    <WorkListing name="Vellum" description="Product, brand for a breakthrough e-signature solution built on Solana." typography="max-w-[36ch]">
    </WorkListing>
    <img class="col-span-2 rounded-md lg:rounded-xl" src="work/vellum-1.jpg" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/vellum-2.png" />
    <img class="col-span-1 rounded-md lg:rounded-xl" src="work/vellum-3.png" />

    <!--
    <WorkListing name="Terms" description="Landing page for .">
    </WorkListing>
      <div class="rounded-md lg:rounded-xl overflow-hidden">
        <video width="2015" height="1440" autoplay loop muted>
          <source src="terms-hover-2.mp4" type="video/mp4">
        </video>
      </div>
    -->
    <div class="text-sm antialiased mt-10 max-w-4xl text-center mx-auto pt-20">
      To work together, <a href="mailto:diegosegura@hey.com" class="border-b border-neutral-300 hover:border-black transition duration-300">email</a> or <a href="https://calendly.com/segura-diego" class="border-b border-neutral-300 hover:border-black transition duration-300">book time</a>.
    </div>
  </div>
  </div>
</Base>
