---
import Base from '../layouts/Base.astro';
import WorkImage from '../components/WorkImage.astro';
import WorkVimeo from '../components/WorkVimeo.astro';
import Nav from '../components/Nav.astro';
---

<Base title="Page Title" description="Page Description">
  <Nav />
  <div class="max-w-2xl my-40 mx-auto px-4 text-[16px] antialiased text-neutral-500">
    <span class="text-neutral-800 font-bold">Diego and his small team at <a href="https://familyoffice.is"><b>Family Office</b></a> articulate company-changing strategies and design resulting brand identities, user interfaces, spaces, packaging, and more.</span> The firm's previous clients have described the work as “stronger and more business-savvy than any brand strategy work we have seen before.”
    <div class="flex flex-row my-7 gap-6">
      <div class="basis-1/2 md:basis-1/2">
        <p class="block md:hidden">
        Operating from:<br />120 Walker Street <br />New York, NY 10013 
        </p>
      </div>
      <div class="basis-1/2 md:basis-1/2">
        <p class="hidden md:block mb-4">
        Operating from:<br />120 Walker Street <br />New York, NY 10013 
        </p>
        <p class="">
        Reachable at: <br /><a href="mailto:diego@familyoffice.is">diego@familyoffice.is</a>
        </p>
      </div>
    </div>
    <span class="text-neutral-800 font-bold">He co-founded <a href="https://terms-eccles.com"><b>Terms-Eccles</b></a> to host conversations at the intersections of finance and culture.</span> Most recently, on the evening of Tax Day, Monday April 15, 2024, legendary financial writer James Grant, bestselling author Carrie Sun, infamous it-girl Cat Marnell, and the podcast duo behind The Ion Pack came together at Spring Place for a crowd of 130. 
    <div class="flex flex-row my-7 gap-6">
      <div class="basis-1/2 md:basis-1/2">
        <p class="block md:hidden">
        For future events:<br /><a href="https://instagram.com/terms_eccles">Terms-Eccles on Instagram</a> 
        </p>
      </div>
      <div class="basis-1/2 md:basis-1/2">
        <p class="hidden md:block mb-4">
        For future events:<br /><a href="https://instagram.com/terms_eccles">Terms-Eccles on Instagram</a> 
        </p>
        <p class="">
        To partner, speak, or sponsor: <br /><a href="mailto:diego@terms-eccles.com">diego@terms-eccles.com</a>
        </p>
      </div>
    </div>
    Previously, he co-founded a company called <b>Nation</b>. Backed by Placeholder, M13, Slow, Circle, and Tribe Ventures, the company went on to build a handful of software products, in the end resulting in Vellum before the team disbanded. Before Nation, he was a Senior Designer at Waybridge (acq. Minehub).<br /><br />
    He began his career as the youngest designer ever hired at the prolific brand transformation agency, <a href="https://wearecollins.com/">COLLINS</a>. He is the author of a 2018 book, <a href="https://www.amazon.com/Dropout-Manifesto-educational-institution-schooling/dp/1980887683">The Dropout Manifesto</a>.
    <br /><br />
    <span class="text-neutral-800 font-bold">He is <a href="https://instagram.com/messybirkin">@messybirkin</a> on <a href="https://instagram.com/messybirkin">Instagram</a> and <a href="https://x.com/messybirkin">X</a>, and is reachable via <a href="mailto:diegosegura@hey.com">email</a>.</span>
  </div>
</Base>
<style>
  a {
    text-decoration: underline;

  }
  a:hover {
    color: #FF0000;
  }
</style>
