---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
---

<Base title="Terms-Eccles Magazine" description="Terms-Eccles explores the intersection of finance and culture.">
  <!--
  <Nav />
  -->
  <div class="my-40 text-4xl tracking-tight font-serif mx-auto max-w-[42ch] text-center">
    Terms-Eccles explores the intersection of finance and culture. We host long-format, candid conversations with finance’s most relevant, most powerful and most opinionated individuals.
    <br /><br />
    It has been said that not all money is capital. We say not all capital can move culture. Terms-Eccles writes about when it does.
    <br /><br />
    The magazine proceeds from the idea that finance is inescapable. We hope those who read Terms-Eccles will find themselves participating in the eye of money's storm, rather than the target of its crosshairs.
  </div>
  <div class="flex flex-col gap-8 my-40">
    <div class="text-sm text-center">
      <div class="">
        <a href="https://diegosegura.me">Diego Segura</a>
      </div>
      <div class="opacity-40">
        Co-founder, Culture Editor
      </div>
    </div>
    <div class="text-sm text-center">
      <div class="">
        <a href="https://www.linkedin.com/in/corissa-steiner-20191945/">Corissa Steiner</a>
      </div>
      <div class="opacity-40">
        Co-founder, Finance Editor
      </div>
    </div>
    <div class="text-sm text-center">
      <div class="">
        Ellie Lynch
      </div>
      <div class="opacity-40">
        Copy Editor
      </div>
    </div>
    <div class="text-sm text-center">
      <div class="">
        <a href="https://elizakgun.com">Eliz Akgün</a>
      </div>
      <div class="opacity-40">
        Design Director
      </div>
    </div>
    <div class="text-sm text-center">
      <div class="">
        <a href="https://brycecarson.com">Bryce Carson</a>
      </div>
      <div class="opacity-40">
        Designer
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-8 my-40">
    <div class="text-sm text-center">
      <div class="">
        Follow Terms-Eccles on:
      </div>
      <div class="opacity-40">
        <a href="https://instagram.com/messybirkin" class="underline">Instagram</a>, <a href="https://twitter.com/messybirkin" class="underline">Twitter</a>
      </div>
    </div>
    <div class="text-sm text-center">
      <div class="">
        Terms-Eccles
      </div>
      <div class="opacity-40">
        6 St. Johns Lane Fl 7<br />
        New York, NY 10013
      </div>
    </div>
    <div class="text-sm text-center">
      <div class="">
        For advertising enquiries, please contact:
      </div>
      <div class="opacity-40">
        <a href="mailto:advertising@terms-eccles.com" class="underline">advertising@terms-eccles.com</a>
      </div>
    </div>
  </div>
</Base>
<style>
  a {
    text-decoration: underline;

  }
  a:hover {
    color: #FF0000;
  }
</style>
