<div class="w-full flex flex-row justify-center gap-4 p-4 fixed top-0 left-0 text-sm antialiased">
  <a href="/" class="opacity-50 hover:opacity-100 transition duration-300">Diego</a>
  <a href="https://familyoffice.is" class="opacity-50 hover:opacity-100 transition duration-300">Family Office</a>
  <a href="/writing" class="opacity-50 hover:opacity-100 transition duration-300">Letters</a>
</div>

