---
---
<div
    class="
           text-[18px]
           text-left
           leading-[1.5]
           flex flex-col gap-6
           m-4
           prose-a:underline
           hover:prose-a:text-[#FF0000]

           prose-p:leading-6
           prose-strong:text-black
           text-black

           prose-headings:mx-auto
           prose-headings:text-black
           prose-headings:font-bold
           prose-headings:uppercase

           prose-h1:py-16
           prose-h1:text-[180%]
           prose-h1:tracking-tight
           
           prose-headings:py-8

           prose-ul:pl-6
           prose-ul:pt-4
           prose-ul:pb-6
           prose-ol:pl-6
           prose-ol:pb-6
           prose-ul:list-disc
           prose-ol:list-decimal
           prose-li:ml-6

           prose-th:py-4

    ">
  <slot />
</div>
