---
---
<div
    class="
           antialiased

           max-w-[444px]
           prose-p:mx-auto
           prose-headings:mx-auto
           m-4
           text-sm

           prose-p:text-neutral-600
           prose-ul:text-neutral-600
           prose-ol:text-neutral-600
           prose-headings:text-black

           prose-headings:font-medium

           prose-ul:list-disc
           prose-ol:list-decimal

           prose-p:leading-6
           prose-p:pb-6
           prose-headings:pb-4
           prose-ul:pl-6
           prose-ul:pb-6
           prose-ol:pl-6
           prose-ol:pb-6
    ">
  <slot />
</div>
