<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diego Segura</title>
    <meta name="description" content="The work of Diego Segura, a designer, writer, and founder based in Lower Manhattan." />
    <meta name="author" content="Diego Segura" />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <slot></slot>
  </body>
</html>
